.App {
  text-align: center;
}

.header {
  display: flex;
  background-color: #E8EFF8;
  border-color: #b3447d;
  border-style: inset;
  border-width: 10px;
  font-size: 40px;
  margin: 10px;
  padding: auto;
  justify-content: center;
  align-items: center;
}


h1 {
  color: #000000;
  font-family: 'Cochin';
  padding-bottom: 0;
}

h4 {
  color: #000000;
  font-family: 'Cochin';
  font-size: 25px;
  padding: 12px;
}

a {
  display: flex;
  color: #d31f79;
  font-family: 'Cochin';
  font-size: 25px;
  padding-left: 40px;
}

a:hover{
  color: #EB4b98;
}

p {
  color: #000000;
  /* color: '#FCAA67' */
  font-weight: 700px;
  font-family: 'Gill Sans MT';
  font-size: 36px;
  padding: 20px;
}

#title {
  padding-right: 50px;
}

#links {
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  justify-content: center;
}

#footer {
  width: 100%;
  bottom: 0;
  clear: both;
}

#video-section {
  margin: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

iframe {
  border-color: #b3447d;
  border-width: 10px;
  margin-right: 40px;
}